In [1]:
dataset = [
    ['tea','orange','nuts','tomato milk','suger','ben'],
    ['date','orange','nuts','tomato milk','suger','ben'],
    ['tea','banana','tomato milk','suger'],
    ['tea','Unico','cornflex','tomato milk','ben'],
    ['cornflex','orange','orange','tomato milk','Ice cream','suger'],
]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
dataset

[['tea', 'orange', 'nuts', 'tomato milk', 'suger', 'ben'],
 ['date', 'orange', 'nuts', 'tomato milk', 'suger', 'ben'],
 ['tea', 'banana', 'tomato milk', 'suger'],
 ['tea', 'Unico', 'cornflex', 'tomato milk', 'ben'],
 ['cornflex', 'orange', 'orange', 'tomato milk', 'Ice cream', 'suger']]

In [5]:
te= TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [6]:
df = pd.DataFrame(te_ary,columns=te.columns_)
df

,Ice cream,Unico,banana,ben,cornflex,date,nuts,orange,suger,tea,tomato milk
0,False,False,False,True,False,False,True,True,True,True,True
1,False,False,False,True,False,True,True,True,True,False,True
2,False,False,True,False,False,False,False,False,True,True,True
3,False,True,False,True,True,False,False,False,False,True,True
4,True,False,False,False,True,False,False,True,True,False,True

In [7]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets =apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                      itemsets
0       0.6                         (ben)
1       0.6                      (orange)
2       0.8                       (suger)
3       0.6                         (tea)
4       1.0                 (tomato milk)
5       0.6            (tomato milk, ben)
6       0.6               (orange, suger)
7       0.6         (orange, tomato milk)
8       0.8          (tomato milk, suger)
9       0.6            (tomato milk, tea)
10      0.6  (orange, tomato milk, suger)

In [9]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(ben),(tomato milk),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
1,(orange),(suger),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
2,(suger),(orange),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
3,(orange),(tomato milk),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
4,(tomato milk),(suger),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
5,(suger),(tomato milk),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
6,(tea),(tomato milk),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
7,"(orange, tomato milk)",(suger),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
8,"(orange, suger)",(tomato milk),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
9,"(tomato milk, suger)",(orange),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
10,(orange),"(tomato milk, suger)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
11,(suger),"(orange, tomato milk)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0

In [10]:
res_1 = res[['antecedents','consequents','support','confidence','lift']]
res_1

              antecedents            consequents  support  confidence  lift
0                   (ben)          (tomato milk)      0.6        1.00  1.00
1                (orange)                (suger)      0.6        1.00  1.25
2                 (suger)               (orange)      0.6        0.75  1.25
3                (orange)          (tomato milk)      0.6        1.00  1.00
4           (tomato milk)                (suger)      0.8        0.80  1.00
5                 (suger)          (tomato milk)      0.8        1.00  1.00
6                   (tea)          (tomato milk)      0.6        1.00  1.00
7   (orange, tomato milk)                (suger)      0.6        1.00  1.25
8         (orange, suger)          (tomato milk)      0.6        1.00  1.00
9    (tomato milk, suger)               (orange)      0.6        0.75  1.25
10               (orange)   (tomato milk, suger)      0.6        1.00  1.25
11                (suger)  (orange, tomato milk)      0.6        0.75  1.25

In [11]:
res_2 = res_1[res_1['confidence'] >=1]
res_2

              antecedents           consequents  support  confidence  lift
0                   (ben)         (tomato milk)      0.6         1.0  1.00
1                (orange)               (suger)      0.6         1.0  1.25
3                (orange)         (tomato milk)      0.6         1.0  1.00
5                 (suger)         (tomato milk)      0.8         1.0  1.00
6                   (tea)         (tomato milk)      0.6         1.0  1.00
7   (orange, tomato milk)               (suger)      0.6         1.0  1.25
8         (orange, suger)         (tomato milk)      0.6         1.0  1.00
10               (orange)  (tomato milk, suger)      0.6         1.0  1.25